.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    display: flex;
    margin-bottom: 12px;
    width: 310px;
    height: 310px;
}

.outer-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    width: 100%;
    height: 100%;
}

.inner-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    width: 100%;
    height: 100%;
    grid-gap: 1px;
    background-color: #7b7b7b7c;
    border: 1px solid #7b7b7b7c;
}

.hint-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    width: 100%;
    height: 100%;
    background-color: white;
    font-size: 10px;
    text-align: center;
    line-height: 100%;
}

.item{
    /* align text to center */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 400;
       /* line-height: 10rem; */
    /* text-align: center; */
    background-color: white;
    /* border: 20px solid rgba(0,0,0,0.8); */
}.item:hover{
    background-color: #CAF0F8;
}

